.create-product
  position: relative
  padding: 16px
  background-color: #fff
  &__form
    padding: 16px 0px
  &__item
    margin-bottom: 10px !important
.createProduct
  &Label
    font-weight: 700
    font-size: 15px
    &Info
      &:hover
        cursor: pointer
  &Submit
    display: flex
    width: 100%
    justify-content: flex-end
    margin-top: 30px
  &Delete
    &Option
      &:hover
        color: red
  // &List
  //   &Options
  //     margin-right: 0px
  //     &:last-child
  //       margin-right: 0px
