body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
}

.flex-col-between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu-hover {
    height: 100px;
}

.menu-hover:hover {
    background-color: rgb(28, 27, 27) !important;
}

.text-grey-300 {
    color: #646464;
}
