body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', helvetica, arial, sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}

.flex-col-between {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu-hover {
    height: 100px;
}

.menu-hover:hover {
    background-color: rgb(28, 27, 27) !important;
}

.text-grey-300 {
    color: #646464;
}